/*************************************************
    GENERAL STYLES
 *************************************************/
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 ul{
    text-decoration: none;
 }

 a{
    text-decoration: none;
    color: var(--color-bg-color-white);
 }

 img{
    width: 100%;
    display: block;
 }
 
 body {
     font-family: "PT Sans", sans-serif;
 }

 html{
    scroll-behavior: smooth;
 }

 :root {
    --color-nav: #0084fd;
    --color-bg-color-white: #ffffff;
    --color-bg-color-secondary: #9792e4;
    --color-footer-color: #333333;
    --color-bg-jambo: #b5ddff;
}

.debug{
    border: 1px solid red;
}

.container{
    width: 100%;
}

.d-flex{
    display: flex;
}

.s-btw{
    justify-content: space-between;
}

.align{
    align-items: center;
    align-content: center;
}

/* utility */
.text-center{
    text-align: center;
}

.text-blue{
    color: var(--color-nav);
}

.text-black{
    color: black;
}

.text-white{
    color: var(--color-bg-color-white);
}


.eaven{
    background-color: var(--color-bg-color-secondary);
    padding: 20px 10px;
}

.shots{
    background-color: var(--color-bg-color-white);
    padding: 20px 10px;
}

.bg-light{
    background-color: var(--color-bg-jambo);
}

h3{
    margin: 15px 0px;
}

h2{
    margin:40px 0;
}

p{
    line-height: 1.5;
    margin-bottom: 20px;
}

/* border */
.small-rounded{
    border-radius: 20px;
}

.big-rounded{
    border-radius: 40px;
}

.circle{
    border-radius: 50%;
}

.icon{
    font-size: 3em;
}


/* header */
nav{
    background-color: var(--color-nav);
    width: 100%;
}

nav div img{
    padding: 20px 10px;
}

nav div i{
    padding: 20px 10px;
    color: var(--color-bg-color-white);
}

/* main  */
#features{
    padding: 40px 20px;
}

.card{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

.img-content{
    width: 80%;
    margin: 0 auto;
}

#features .container>.card{
    padding-bottom: 0px;
}

.card-plan{
    background-color: var(--color-bg-color-white);
    padding: 10px;
}

************************

#planning{
    padding:40px 20px;
}

.cont-arrow{
    width: 50px;
    height: 50px;
    margin-left: 40%;
    background-color: var(--color-bg-color-secondary);
}

.fa-arrow-down{
    padding-top: 17px;
    color: black;
}




