/*************************************************
    GENERAL STYLES
 *************************************************/
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 ul{
    text-decoration: none;
 }

 a{
    text-decoration: none;
    color: var(--color-bg-color-white);
 }

 img{
    width: 100%;
    display: block;
 }
 
 body {
     font-family: "PT Sans", sans-serif;
 }

 html{
    scroll-behavior: smooth;
 }

 :root {
    --color-nav: #0084fd;
    --color-bg-color-white: #ffffff;
    --color-bg-color-secondary: #9792e4;
    --color-footer-color: #333333;
    --color-bg-jambo: #b5ddff;
}

.debug{
    border: 1px solid red;
}

.container{
    width: 100%;
    margin: 0 auto;   
}

.d-flex{
    display: flex;
}

.s-btw{
    justify-content: space-between;
}

.align{
    align-items: center;
    align-content: center;
}

/* utility */
.text-center{
    text-align: center;
}

.text-blue{
    color: var(--color-nav);
}

.text-black{
    color: black;
}

.text-white{
    color: var(--color-bg-color-white);
}

.text-violet{
    color: var(--color-bg-color-secondary);
}

.eaven{
    background-color: var(--color-bg-color-secondary);
    padding: 20px 10px;
}

.shots{
    background-color: var(--color-bg-color-white);
    padding: 20px 10px;
}

.bg-light{
    background-color: var(--color-bg-jambo);
}

.bg-violet{
    background-color: var(--color-bg-color-secondary);
}

.bg-white{
    background-color: var(--color-bg-color-white);
}

.bg-black{
    background-color: var(--color-footer-color);
}

h3{
    margin: 15px 0px;
}

h2{
    margin:40px 0;
}

p{
    line-height: 1.5;
    margin-bottom: 20px;
}

/* border */
.small-rounded{
    border-radius: 20px;
}

.big-rounded{
    border-radius: 40px;
}

.circle{
    border-radius: 50%;
}

.icon{
    font-size: 3em;
}


/* header */
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
}

nav{
    background-color: var(--color-nav);
    width: 100%;
}

nav div img{
    padding: 20px 10px;
}

nav div i{
    padding: 20px 10px;
    color: var(--color-bg-color-white);
}

/* main  */
main{
    margin-top: 70px;
}

#features{
    padding: 40px 20px;
}

.text-content{
    width: 60%;
}

.img-content{
    width: 40%;
}

.card{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

.img-content img{
    width: 80%;
    margin: 0 auto;
}

#features .container>.card{
    padding-bottom: 0px;
}

.card-plan{
    background-color: var(--color-bg-color-white);
    padding: 10px;
}

************************

#planning{
    padding:40px 20px;
}

.stat-plan{
padding:0px 20px;
}

.card-plan{
    margin:0px 10px;
    margin-bottom: 30px;
}

.cont-arrow{
    width: 50px;
    height: 50px;
    margin-left: 40%;
    background-color: var(--color-bg-color-secondary);
}

.fa-arrow-down{
    padding-top: 17px;
    color: black;
}

****************************

#testimonial img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-circle{
    width:50%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    margin: 0 auto;
}

.cont-testimonial{
    margin: 20px 10px;
}

*************************

.card-ben{
    p
}

.number-ben{
    font-size: 30px;
}

.bt-ben{
    background-color: #9792e4;
    margin-bottom: 10px;
    width: 100px;
    padding: 5px 10px;
}

****************************

.btn-about{
    background-color: #9792e4;
    margin-bottom: 10px;
    width: 50%;
    padding: 5px 10px;
}

*****************************

#h3-started{
    font-size: 100px;
}

.h2-started{
    font-size: 50px;
    color: rgb(255, 174, 0);
}

.btn-started{
    background-color: var(--color-bg-color-white);
    width:100px;
    margin-left: 60px;
    padding: 10px 10px;
}

.copy-started{
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
}

************************
/* tablet */
@media screen and (min-width:786px){
    #features .card:first-child{
        width: calc( 100% / 3 * 2 - 20px);
        display: flex;
    }
    #feature .container{
        gap: 20px;
        display: flex;
        flex-wrap: wrap;
    }
    #features .card{
        width: calc(100% / 3 - 5px);
    }
}
